<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>106_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{26,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{26,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{46,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{46,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,176},{26,48}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,48},{26,44}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{26,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,126},{32,42}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{32,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{44,58}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,172},{36,42}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{36,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,126},{32,42}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{32,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,48},{24,42}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{24,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,60}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{24,50}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,48},{24,42}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{24,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>106_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,216},{26,34}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{26,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,94},{30,36}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{30,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{22,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,126},{20,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{20,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,48},{22,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,126},{26,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,186},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,94},{30,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,126},{22,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{34,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,48},{32,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,226},{28,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,94},{26,42}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{26,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{22,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,126},{20,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{20,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>106_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,48},{22,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>106.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0deb1fa56b82eb8074ac2acb5e06374$</string>
            <key>textureFileName</key>
            <string>106.png</string>
        </dict>
    </dict>
</plist>
