<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>110_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,224},{30,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,60},{42,54}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{42,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,116},{48,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,168},{30,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{40,56}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,56}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,176},{54,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,118},{54,46}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{54,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{26,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{34,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{42,52}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{42,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,216},{38,48}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{38,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>110_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,216},{26,36}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{26,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,134},{32,36}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{32,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,168},{28,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,86},{40,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,102},{28,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{30,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,56},{40,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,44},{40,46}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,166},{40,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,102},{46,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,174},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,52},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{40,46}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,52},{40,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>110_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>110.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc0c701662b0cbc0de0451ca97d886fa$</string>
            <key>textureFileName</key>
            <string>110.png</string>
        </dict>
    </dict>
</plist>
