<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>117_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,50}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{42,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{42,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,52},{48,46}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,224},{46,46}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,50},{48,48}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{52,46}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{58,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,46}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,184},{42,46}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,100},{46,48}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{50,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,100},{44,48}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{44,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>117_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,238},{36,44}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,222},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,146},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,100},{44,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,100},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,190},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,184},{36,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,146},{36,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,50},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,52},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,146},{36,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{36,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,186},{36,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{42,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>117_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,148},{36,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>117.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:377acc64632b0b09045af5725efc61f6$</string>
            <key>textureFileName</key>
            <string>117.png</string>
        </dict>
    </dict>
</plist>
