<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>118_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{22,44}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{22,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{42,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{42,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,42},{36,50}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{36,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,212},{36,40}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{36,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,140},{26,44}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{26,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{30,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{30,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,46}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,42}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,94},{26,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{26,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,34},{44,50}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{44,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{38,56}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{38,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{36,42}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{36,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>118_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,156},{38,34}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{38,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,170},{40,32}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,80},{20,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{20,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,212},{26,42}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{26,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,126},{20,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{20,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,46},{48,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,80},{36,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,80},{38,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,154},{32,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{32,44}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,48},{26,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,90},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{32,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,126},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,120},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>118_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,118},{34,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>118.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83a6dff9694f189ae6bea250facadef6$</string>
            <key>textureFileName</key>
            <string>118.png</string>
        </dict>
    </dict>
</plist>
