<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>119_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,94},{22,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{22,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,50},{34,46}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,50}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{38,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,158},{32,50}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,144},{28,44}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{40,44}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{40,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{34,50}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{34,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,106},{28,50}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{28,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,144},{22,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{22,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,48},{34,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{34,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{36,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{36,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{32,50}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>119_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,94},{38,34}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{38,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,140},{40,32}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{40,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,48},{20,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{20,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,190},{26,42}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{26,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,234},{20,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{20,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,54},{48,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,210},{36,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,198},{32,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{32,44}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,190},{26,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{34,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,98},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,152},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>119_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{34,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>119.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc33ab5c5a93e7aea008c1a3ea9d4e70$</string>
            <key>textureFileName</key>
            <string>119.png</string>
        </dict>
    </dict>
</plist>
