<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,208},{26,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,180},{26,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,152},{26,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,196},{26,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,50},{52,48}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{58,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{58,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{62,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{56,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{26,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{26,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,28},{24,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{24,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{24,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{24,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>12_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,152},{32,34}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{32,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,208},{32,32}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,100},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,200},{42,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,148},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,54},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,198},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,150},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{46,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,50},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,104},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,100},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,54},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>12_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>12.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab14d15394d1cbb4a9f4ace7a2f0097c$</string>
            <key>textureFileName</key>
            <string>12.png</string>
        </dict>
    </dict>
</plist>
