<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>122_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,150},{26,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,168},{28,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{28,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,160},{30,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{42,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{42,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{42,54}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{42,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,56}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,60},{46,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,198},{24,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{24,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{26,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{28,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{28,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,150},{24,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{24,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>122_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,210},{26,38}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{26,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,210},{30,40}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{30,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{26,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,110},{42,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,198},{24,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{24,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,110},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,102},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,220},{30,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{30,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{46,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,32},{28,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,52},{28,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,50},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,160},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>122_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{28,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>122.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:454cdac3dce12c1673029cfbd4e7233c$</string>
            <key>textureFileName</key>
            <string>122.png</string>
        </dict>
    </dict>
</plist>
