<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>126_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,102},{28,56}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,52},{30,54}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,102},{30,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,222},{28,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,56}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{50,54}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{50,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{56,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{56,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{32,56}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{32,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,134},{30,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,88},{40,48}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,132},{40,48}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>126_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,130},{38,44}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,84},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{42,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,130},{38,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,170},{40,46}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,46},{40,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,52},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,170},{36,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,218},{36,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,174},{40,46}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,174},{42,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>126_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,218},{36,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>126.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85e05b730e69663432dcd05927bd9b4$</string>
            <key>textureFileName</key>
            <string>126.png</string>
        </dict>
    </dict>
</plist>
