<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>128_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{46,50}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,182},{36,48}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,182},{44,46}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{44,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{44,46}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{44,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,50},{48,48}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{52,46}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{52,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{58,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,46}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{56,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,220},{42,46}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,142},{44,48}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{44,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,98},{44,48}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{44,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,100},{42,48}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{42,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>128_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{36,44}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,236},{44,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,96},{44,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,50},{44,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,50},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,188},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,176},{36,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,144},{36,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,50},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{36,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,144},{36,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,138},{36,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,214},{42,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>128_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,100},{36,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>128.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4d8b95b03bcb9af5ff7164df9c91dde$</string>
            <key>textureFileName</key>
            <string>128.png</string>
        </dict>
    </dict>
</plist>
