<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>130_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,174},{28,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{28,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,58},{40,52}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{40,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{46,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,224},{30,48}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,7},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{44,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{58,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{58,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,50},{28,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,48},{34,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{42,52}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{42,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,134},{38,48}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{38,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>130_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,174},{24,38}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{24,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,218},{34,42}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{34,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,200},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,84},{44,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,174},{30,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,170},{32,46}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,128},{40,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,130},{38,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{38,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,100},{46,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,80},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,188},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,190},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,148},{38,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,84},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>130_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>130.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48e18f43ef47fdd13baf7d899dc9075$</string>
            <key>textureFileName</key>
            <string>130.png</string>
        </dict>
    </dict>
</plist>
