<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>134_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{32,50}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{40,46}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{40,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{36,44}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,144},{34,44}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{34,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,40},{28,54}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{28,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,42},{42,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{42,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{54,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{54,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{56,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{32,50}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{38,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{36,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,158},{36,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>134_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,228},{42,24}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{42,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{42,24}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{42,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,120},{36,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,86},{32,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{34,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,128},{28,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,100},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{36,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,144},{36,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,70},{34,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,54},{30,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,216},{32,44}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,182},{32,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,90},{36,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,54},{34,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>134_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,158},{32,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>134.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3472a2fdebb3902c425f04f3a598a91a$</string>
            <key>textureFileName</key>
            <string>134.png</string>
        </dict>
    </dict>
</plist>
