<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>137_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,164},{26,48}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,54},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{34,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{26,40}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{26,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,214},{22,40}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{22,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{24,52}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{24,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,58},{38,50}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{38,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{50,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{50,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{50,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,110},{24,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{24,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{26,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{30,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,48},{30,44}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>137_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{34,24}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,214},{40,26}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{40,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,58},{24,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{24,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,30},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,232},{22,42}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{22,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,100},{32,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,208},{38,44}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{26,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,186},{26,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{32,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,160},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,140},{28,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,94},{28,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{30,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,192},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>137_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,146},{30,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>137.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00c4eb42dd46fe4aa69f9f7c897e170f$</string>
            <key>textureFileName</key>
            <string>137.png</string>
        </dict>
    </dict>
</plist>
