<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>138_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,164},{26,48}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,100},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{34,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,214},{26,40}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{26,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{22,40}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{22,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{24,52}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{24,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,58},{38,50}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{38,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{50,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{50,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{50,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,110},{24,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{24,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{26,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{30,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,192},{30,44}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>138_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{32,26}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{32,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{42,24}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,23},{42,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{26,40}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{26,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,214},{24,40}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{24,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,28},{22,38}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{22,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,208},{24,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{24,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,54},{36,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,160},{28,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,232},{22,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,146},{30,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,48},{28,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,140},{24,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{24,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,94},{24,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{24,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{28,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>138_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,186},{22,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>138.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9878e8b563f4efa44d660858cac687d8$</string>
            <key>textureFileName</key>
            <string>138.png</string>
        </dict>
    </dict>
</plist>
