<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>140_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{28,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,160},{24,48}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{24,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,56},{42,46}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,50},{26,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{28,44}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{30,50}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{30,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,108},{42,46}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{40,44}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{40,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,152},{32,46}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{34,50}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{34,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,52}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{46,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,146},{32,44}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>140_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,36},{28,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{28,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{32,38}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{32,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{32,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,48},{30,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,98},{30,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,210},{32,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,156},{40,46}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,50},{28,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{26,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,104},{38,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,204},{32,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{28,46}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,98},{26,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,200},{28,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>140_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,50},{26,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>140.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1190af24ac6cdb2d8bded317036395e4$</string>
            <key>textureFileName</key>
            <string>140.png</string>
        </dict>
    </dict>
</plist>
