<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>148_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,148},{32,46}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,102},{38,48}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{38,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{36,48}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,152},{34,48}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{34,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,34},{28,46}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{44,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,100},{40,46}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{40,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,50},{36,46}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{36,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,52},{36,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,202},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{44,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{38,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{38,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,202},{34,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{34,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>148_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,92},{36,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{36,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,128},{36,32}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{36,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,64},{26,46}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{30,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,152},{34,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{42,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,92},{38,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,52},{42,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,196},{32,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{32,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{34,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,196},{30,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{38,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,100},{38,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,148},{38,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>148_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>148.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9824e6425ed2dee2b48b8707d36dba99$</string>
            <key>textureFileName</key>
            <string>148.png</string>
        </dict>
    </dict>
</plist>
