<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>149_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,176},{32,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,58},{42,52}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{42,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{46,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,188},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{44,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,54}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{58,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{30,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,48},{34,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{42,52}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{42,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{38,48}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{38,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>149_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{30,40}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{30,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,220},{34,42}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{34,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,210},{28,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{44,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,170},{30,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{34,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,146},{40,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,132},{42,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{42,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,84},{46,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,84},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,168},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,134},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,204},{42,46}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,84},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>149_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,132},{34,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>149.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f260ef7fe9cc9baf53022a26052b8a89$</string>
            <key>textureFileName</key>
            <string>149.png</string>
        </dict>
    </dict>
</plist>
