<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>16_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,102},{26,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,212},{26,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,184},{26,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,136},{26,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{52,48}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{58,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{56,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,156},{24,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{24,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,98},{28,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,152},{26,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,156},{24,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{24,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>16_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,102},{32,42}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{32,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,52},{42,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,52},{48,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,102},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,202},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,102},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{46,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,202},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,152},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>16_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>16.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd39dd987044e42e15e2af5ba637617b$</string>
            <key>textureFileName</key>
            <string>16.png</string>
        </dict>
    </dict>
</plist>
