<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{26,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{26,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,28},{26,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{26,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{26,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{52,48}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{52,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,154},{58,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,154},{62,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,154},{56,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{56,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{24,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{24,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,30},{28,56}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,30},{26,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{24,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>17_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{32,42}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{32,42}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,204},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,56},{42,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,58},{48,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,204},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{46,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,106},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,106},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,106},{46,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,60},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,204},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,204},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,104},{46,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,60},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>17_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>17.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34f5c93daeeabdfbb5e8cc7353119ebe$</string>
            <key>textureFileName</key>
            <string>17.png</string>
        </dict>
    </dict>
</plist>
