<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,198},{22,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{22,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,98},{22,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{22,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{28,50}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{28,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,150},{22,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{22,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,118},{40,48}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{40,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,146},{38,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{38,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{54,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,34},{30,44}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{24,56}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{24,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,62},{26,54}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{26,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,58}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{32,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{24,56}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{24,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>19_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,48},{42,28}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,20},{42,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,92},{42,26}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,36},{28,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{30,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,102},{28,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{30,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,54},{38,46}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,168},{28,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{24,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{24,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,216},{38,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{32,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,192},{34,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,92},{26,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,50},{26,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{30,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>19_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{24,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{24,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>19.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2c7e9c9ba3120543ae9c5c33d71eb74$</string>
            <key>textureFileName</key>
            <string>19.png</string>
        </dict>
    </dict>
</plist>
