<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>31_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,98},{34,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{34,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,206},{32,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{38,50}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{38,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,208},{32,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{46,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,42},{48,48}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{48,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{60,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,88},{46,48}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{46,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,98},{36,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,208},{32,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{34,58}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{32,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{32,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>31_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,174},{28,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{28,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,206},{30,40}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{30,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,50},{28,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,92},{40,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{28,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{34,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,52},{44,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,172},{34,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,136},{34,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,134},{34,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,136},{36,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,170},{34,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,38},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>31_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,134},{36,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>31.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cad013d40d7e86682cdc87078e257847$</string>
            <key>textureFileName</key>
            <string>31.png</string>
        </dict>
    </dict>
</plist>
