<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>36_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,148},{36,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,98},{36,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{46,56}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{46,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,190},{36,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{48,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,50},{48,46}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{58,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,50},{46,46}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{46,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,50},{36,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{36,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,196},{36,48}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{42,58}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,202},{36,48}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>36_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,44},{32,40}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{32,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{32,40}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{32,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,96},{26,48}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,98},{42,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{42,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,46},{28,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,196},{36,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,146},{36,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,152},{36,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,140},{40,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,98},{40,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,102},{36,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>36_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,146},{40,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>36.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1526f4467d284785bad830fc9efcf64$</string>
            <key>textureFileName</key>
            <string>36.png</string>
        </dict>
    </dict>
</plist>
