<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>38/38_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,82},{26,48}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,104},{28,46}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{34,52}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{34,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,270},{32,42}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,21},{32,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,306},{26,42}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{26,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,266},{38,42}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{38,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,30},{48,42}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{48,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,50},{40,40}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{40,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{28,42}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,22},{28,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{32,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{26,52}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{26,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>38/38_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,338},{36,24}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{36,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,334},{40,26}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,21},{40,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{30,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,50},{30,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,320},{36,40}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{36,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,38},{32,48}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{38,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{28,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,264},{26,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{34,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,174},{30,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,264},{22,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{26,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{34,46}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,136},{36,44}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>38/38_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{32,46}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,248},{26,44}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{26,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,242},{26,44}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{26,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,92},{46,42}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,19},{46,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,310},{26,42}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{26,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{30,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,74},{28,48}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{28,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,134},{42,44}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{42,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,184},{32,44}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,15},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,292},{26,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{26,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{30,48}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{46,50}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,276},{30,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{30,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>41_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{26,34}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{26,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,354},{30,32}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{30,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,308},{28,42}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{28,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,178},{32,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,304},{28,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{28,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,72},{30,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,144},{38,44}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,218},{28,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,110},{26,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,104},{38,46}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,174},{32,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,212},{28,44}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,208},{28,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,238},{26,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,206},{28,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>41_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,236},{26,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>41.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628e4b3106b956aa2923422da0dffeca$</string>
            <key>textureFileName</key>
            <string>41.png</string>
        </dict>
    </dict>
</plist>
