<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>56_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,202},{30,42}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{30,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,180},{30,52}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{30,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{30,58}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{30,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,202},{30,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{30,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{46,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{46,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{52,42}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{52,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{54,56}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{50,44}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,13},{50,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,106},{30,38}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{30,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,50},{30,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,58}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{30,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,104},{30,46}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>56_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,194},{30,40}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{30,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{36,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{30,40}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{30,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,140},{36,38}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{36,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,74},{30,38}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{30,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,152},{32,40}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{32,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,154},{40,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,48},{30,40}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{30,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,42},{30,38}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{30,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,54},{48,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,104},{48,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{30,38}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{30,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,44},{30,38}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{30,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,98},{30,40}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{30,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,54},{48,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>56_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,90},{30,38}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{30,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>56.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd4eb6b189c6f80c318621c369382fda$</string>
            <key>textureFileName</key>
            <string>56.png</string>
        </dict>
    </dict>
</plist>
