<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>66_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,52},{28,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{36,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{36,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,56},{44,50}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{44,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,140},{36,42}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{36,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,158},{26,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{36,52}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{36,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{50,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{50,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,108},{46,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{46,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,94},{22,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{22,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,108},{32,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{42,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{32,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>66_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{34,24}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,23},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,34},{40,22}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{40,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,48},{24,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{24,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{26,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,232},{22,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{22,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{34,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,156},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,48},{34,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{34,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,202},{40,44}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{30,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,140},{32,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,186},{30,44}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,216},{36,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{38,44}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>66_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,94},{32,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>66.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98e9291f4a3c862c120cb38e23ef505d$</string>
            <key>textureFileName</key>
            <string>66.png</string>
        </dict>
    </dict>
</plist>
