<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,60},{24,52}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{24,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,150},{36,44}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{36,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,48},{26,42}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{26,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{22,42}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{22,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{24,56}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{24,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{38,52}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{38,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{50,42}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{50,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{50,38}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{50,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{24,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{24,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,56}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{26,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,114},{32,48}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,196},{32,44}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>82_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,26},{40,24}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{40,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{42,24}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{42,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{32,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{30,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,164},{28,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{28,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,164},{26,46}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{36,44}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,50},{38,44}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,212},{36,42}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{36,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,48},{34,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,142},{32,42}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,94},{28,42}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{28,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,212},{38,42}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,104},{38,44}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>82_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,96},{34,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>82.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0da9e4f2f0f639327f2163e2b14576c$</string>
            <key>textureFileName</key>
            <string>82.png</string>
        </dict>
    </dict>
</plist>
