<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>85_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{34,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{34,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,56},{36,48}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{36,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{34,40}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{34,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,44},{28,40}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{28,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{30,54}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{30,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{38,52}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{38,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{48,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{48,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,108},{48,38}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{48,38}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{26,48}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{26,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,56},{32,50}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{32,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,198},{32,44}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{32,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>85_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,90},{42,24}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{42,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,46},{42,24}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,23},{42,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{30,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{30,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,152},{30,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{30,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,220},{32,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{32,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,158},{26,46}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,106},{40,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{40,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{40,42}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{40,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,48},{40,42}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{40,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{36,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{36,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,126},{38,42}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{38,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,152},{32,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,96},{40,42}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,50},{38,44}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{38,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>85_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,86},{38,40}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>85.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5818ed915f451e040a050d13cb7f3c73$</string>
            <key>textureFileName</key>
            <string>85.png</string>
        </dict>
    </dict>
</plist>
