<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>90_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,120},{30,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{30,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,166},{42,46}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,36},{44,46}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{44,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,216},{34,46}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,62},{32,56}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,3},{32,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,114},{46,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{46,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{56,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,62},{56,40}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{56,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{36,54}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{36,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{38,58}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{40,58}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{40,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{40,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>90_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{36,34}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{36,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,158},{42,34}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{42,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,84},{34,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{32,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,84},{34,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{30,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,210},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,200},{40,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,120},{44,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,44},{38,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,168},{40,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,120},{36,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,210},{36,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,152},{40,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{40,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,168},{38,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{38,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>90_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{36,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>90.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b35b6283d47935cf04749a48312acd3$</string>
            <key>textureFileName</key>
            <string>90.png</string>
        </dict>
    </dict>
</plist>
