<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>99_attack_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,152},{24,46}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{24,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{30,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{28,44}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,48},{28,44}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,52}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{26,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,158},{34,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{34,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{50,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{50,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{50,40}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{50,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,160},{26,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{26,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{26,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{26,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{34,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{34,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_attack_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,200},{34,44}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{34,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>99_dead_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,192},{42,26}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_dead_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,30},{42,26}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{42,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_defense_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_defense_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,54},{30,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_defense_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,52},{32,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{32,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_excitation_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,96},{28,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{28,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,208},{36,46}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{36,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_move_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,104},{32,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_move_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,146},{32,44}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_move_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,108},{36,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_move_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{34,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_move_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,212},{32,42}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{32,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_move_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{26,44}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{26,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_stand_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,100},{36,44}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_stand_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,50},{34,44}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{34,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>99_stand_up_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{34,42}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{34,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>99.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04381e2602dc2b4550baae4d396747a$</string>
            <key>textureFileName</key>
            <string>99.png</string>
        </dict>
    </dict>
</plist>
