<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mcall04_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,188},{140,198}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,22},{140,198}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,138},{208,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,72},{208,100}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{214,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{214,136}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,202}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,21},{216,202}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{134,212}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,14},{134,212}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,404},{96,170}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,34},{96,170}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,264},{194,138}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,49},{194,138}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{216,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{216,76}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,186},{178,158}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,39},{178,158}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{126,144}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,46},{126,144}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,140},{122,200}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,18},{122,200}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,366},{180,190}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,26},{180,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{160,196}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,20},{160,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,596},{156,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,43},{156,154}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,502},{156,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,43},{156,154}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{156,154}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,43},{156,154}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,382},{190,170}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,36},{190,170}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{182,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,44},{182,154}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,456},{138,162}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,40},{138,162}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,330},{124,190}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,26},{124,190}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,240},{140,196}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,23},{140,196}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{188,148}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,48},{188,148}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>Mcall04_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,80},{214,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,69},{214,106}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mcall04.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fdbf3788181345ede8b0a8ff06134f4$</string>
            <key>textureFileName</key>
            <string>Mcall04.png</string>
        </dict>
    </dict>
</plist>
