<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mcall06_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,256}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{300,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{290,272}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{290,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,796},{286,272}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{286,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1070},{286,278}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{286,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1078},{282,278}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{282,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{282,276}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{282,276}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{282,284}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{282,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1642},{288,284}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{288,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1642},{288,288}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{288,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,802},{274,286}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{274,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1358},{282,286}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{282,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,256}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{300,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1344},{282,284}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{282,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1350},{278,284}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{278,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{296,260}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{296,260}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{296,264}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{296,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,264},{294,264}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{294,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,260},{294,264}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{294,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{292,264}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{292,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,526},{290,268}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{290,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall06_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,530},{292,270}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{292,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mcall06.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf33cc1e87be6638e72690df54388fc6$</string>
            <key>textureFileName</key>
            <string>Mcall06.png</string>
        </dict>
    </dict>
</plist>
