<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mcall02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1128},{186,202}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{186,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,564},{186,222}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{186,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,378},{186,224}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,16},{186,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,754},{186,214}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{186,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{186,216}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{186,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,752},{186,216}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,22},{186,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,566},{186,218}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{186,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,380},{186,220}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{186,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,378},{184,224}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{184,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,192},{184,226}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{184,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,192},{186,228}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{186,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,942},{186,202}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{186,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{186,228}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{186,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,190},{186,230}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{186,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{186,232}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{186,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{188,234}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{188,234}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{188,236}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,1},{188,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,238}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{188,238}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,942},{184,204}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,30},{184,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{186,208}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,28},{186,208}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,940},{186,210}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{186,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,754},{186,212}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,26},{186,212}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{184,214}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,24},{184,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,568},{184,216}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{184,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{186,220}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{186,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mcall02.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1190c4f2495bdb293998fa6c666c578e$</string>
            <key>textureFileName</key>
            <string>Mcall02.png</string>
        </dict>
    </dict>
</plist>
