<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mcall05_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,256},{284,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{284,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1706},{282,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1716},{282,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{282,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,256},{282,254}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{282,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1272},{282,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1020},{282,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{282,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1018},{282,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,766},{282,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{284,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{284,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{282,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1526},{246,170}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,67},{246,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,818},{210,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,87},{210,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1030},{58,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,117},{58,62}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1030},{98,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,103},{98,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,678},{168,138}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,91},{168,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,222},{192,150}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,92},{192,150}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{218,160}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,96},{218,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1526},{260,178}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,105},{260,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,186}}</string>
                <key>offset</key>
                <string>{-7,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{286,186}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{284,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{284,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,416},{260,162}}</string>
                <key>offset</key>
                <string>{-5,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,124},{260,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,764},{282,252}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{284,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{284,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,512},{282,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{282,254}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,254}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{282,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Mcall05_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,510},{282,252}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{282,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mcall05.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2a29ddd0211d49409fd921b4708e5ff$</string>
            <key>textureFileName</key>
            <string>Mcall05.png</string>
        </dict>
    </dict>
</plist>
