<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mcall00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{186,202}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,31},{186,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,380},{186,222}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{186,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,192},{186,224}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{186,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,752},{186,214}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{186,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{186,214}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{186,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,752},{184,216}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{184,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{186,218}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,18},{186,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,564},{186,220}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,16},{186,220}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{184,224}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,14},{184,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,378},{184,224}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,13},{184,224}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,192},{184,226}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{184,226}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1126},{186,202}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,31},{186,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{186,228}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{186,228}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,190},{186,230}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{186,230}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{186,232}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,3},{186,232}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{188,234}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,1},{188,234}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{188,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{188,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{188,236}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,940},{186,204}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{186,204}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{184,210}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,26},{184,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,938},{186,210}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,26},{186,210}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,754},{184,214}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{184,214}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,568},{184,216}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{184,216}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,566},{184,218}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,19},{184,218}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>Mcall00_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,378},{186,222}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,17},{186,222}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mcall00.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a690d876ca68709628a6dbb295da9457$</string>
            <key>textureFileName</key>
            <string>Mcall00.png</string>
        </dict>
    </dict>
</plist>
